# Ignore multifiles, the user can compile them
# themselves when they clone the repo

*.mf

# I hate .pyc!

*.pyc

!*.lib
game/safe_test.py
game/.pydevproject
game/.project
game/astron/databases/astrondb
game/astron/databases/account-bridge.db
game/astron/databases/astrondb/info.yaml
game/tools/libcoginvasion.pyd
game/tools/libcoginvasion.c
game/tools/libcoginvasion.lib
game/tools/libcoginvasion.exp
game/file_info.txt
game/libcoginvasion.pyd
game/new-cog-area
game/screenshots
game/settings.json
game/uno_test.py
game/mss'.py
game/ct-test.py
game/lib/coginvasioncxx/*.obj
game/lib/coginvasioncxx/*.pyd
game/lib/coginvasioncxx/*.dll
game/lib/coginvasioncxx/*.lib
game/lib/coginvasioncxx/*.exp
Panda3D-CI/bin
Panda3D-CI/etc
Panda3D-CI/include
Panda3D-CI/lib
Panda3D-CI/models
Panda3D-CI/panda3d
Panda3D-CI/pandac
Panda3D-CI/plugins
Panda3D-CI/Pmw
Panda3D-CI/Pmw-new
Panda3D-CI/python
Panda3D-CI/LICENSE
Panda3D-CI/ReleaseNotes
game/built
*.yaml
*.bat
.project
.pydevproject
