# Ignore multifiles, the user can compile them
# themselves when they clone the repo

*.mf

# I hate .pyc!

*.pyc

!*.lib
game/safe_test.py
game/.pydevproject
game/.project
game/astron/databases
.project
.pydevproject
