# Ignore multifiles, the user can compile them
# themselves when they clone the repo

*.mf

# I hate .pyc!

*.pyc

!*.lib
game/safe_test.py
game/.pydevproject
game/.project
game/astron/databases
game/tools/libcoginvasion.pyd
game/tools/libcoginvasion.c
game/tools/libcoginvasion.lib
game/tools/libcoginvasion.exp
game/file_info.txt
game/libcoginvasion.pyd
game/new-cog-area
game/screenshots
game/settings.json
game/uno_test.py
game/mss'.py
game/ct-test.py
game/lib/coginvasioncxx/*.obj
game/lib/coginvasioncxx/*.pyd
game/lib/coginvasioncxx/*.dll
game/lib/coginvasioncxx/*.lib
game/lib/coginvasioncxx/*.exp
./Panda3D-CI
*.yaml
*.bat
.project
.pydevproject
